body{ 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



tr, td{
    border: 1px solid black;
}

td{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

table{
    margin: auto;
    border-collapse: collapse;
}

.blanc{
    background-color: white;
}

.jaune{
    background-color: yellow;
}

.gris{
    background-color: grey;
}

.noir{
    background-color: black;
}

.bleu{
    background-color: blue;
}

.test{
    border: none;
}